/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer {
	position: fixed;
	/*position:relative;*/
	display:block;
	height:180px;
	/*loat:left;*/
	width:100%;
	bottom:0px;
	z-index: 99;
}

.side-nav{
	z-index: 99999999;
}
